# Private stuff
twc_credentials*
twc_key.properties
*.jks
*.keystore

# Local configuration file (sdk path, etc)
local.properties

# Built application files
*.apk
*.aab
*.csh

# Gradle and Android Studio tmp files
.gradle/
build/
.idea/
*.iml
*.class

# Ignore local maven repos
maven_auto/
maven_b2b/
maven_repo/

# Android Studio captures folder
captures/

tmp/
dist/


