<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.landenlabs.routes">


    <!-- Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppTheme"
        tools:targetApi="s">

        <activity
            android:name="com.landenlabs.routes.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppTheme.NoActionBar"  >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- https://developer.android.com/develop/background-work/services/fg-service-types#location -->
        <service android:name="com.landenlabs.routes.Record.RecordService"
            android:foregroundServiceType="location"
            android:exported="false"
            />

        <receiver
            android:name="com.landenlabs.routes.Record.RecordCancel"
            android:exported="true" >
        </receiver>

        <!--
        <receiver android:name=".services.OnBootCompletedService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        -->

    </application>

</manifest>